body {
  background-color: lightgray; }

#panels {
  float: right;
  position: absolute;
  right: 5px;
  top: 10%;
  zindex: 1; }

#daySelected {
  text-align: center; }

#places select {
  width: 85%; }
#places ul, #places ul > li {
  background-color: none; }
#places .panel-heading {
  background-color: #b3d98c;
  color: black; }

#plans .panel-heading {
  background-color: #b3d98c;
  color: black; }

#map-canvas {
  width: 100%;
  height: 95vh; }

.navbar {
  margin-bottom: 1px;
  border: 0px solid lightgreen; }

.navbar-inverse {
  background-color: #b3d98c; }
  .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: black; }
    .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
      color: #333333; }
