#places {
  background-color: #80bf40;
  float: right;
  position: absolute;
  right: 0px;
  top: 190px;
  zindex: 1; }
  #places ul, #places ul > li {
    background-color: none; }
  #places .panel-heading {
    background-color: #b3d98c;
    color: black; }
  #places .panel-body { }

#plans {
  float: right;
  position: absolute;
  right: 0px;
  top: 500px;
  zindex: 1; }
  #plans .panel-heading {
    background-color: #b3d98c;
    color: black; }
  #plans .panel-body { }

#map-canvas {
  width: 100%;
  height: 900px; }

.navbar {
  margin-bottom: 0px; }

.navbar-inverse {
  background-color: #2e2e6b; }
  .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #ffff66; }
    .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
      color: #ffffcc; }
