@import "variables";
@import "mixins";

body{
  background-color: lightgray;
}

#panels{
  float: right;
  position: absolute;
  right: 5px;
  top: 10%;
  zindex: 1;
  
}

#daySelected{
  text-align: center;
}

#places {
  
  select{
    width: 85%;
  }
  
  ul, ul > li {
    background-color: none;
  }
  .panel-heading {
    background-color:lighten( hsl(90, 50%, 50%), 20%);
    color: black;
  }
}

#plans {
  .panel-heading {
    background-color:lighten( hsl(90, 50%, 50%), 20%);
    color: black;
  }
}

#map-canvas {
  width: 100%;
  height: 95vh;

}

.navbar {
  margin-bottom: 1px;
  border: 0px solid lightgreen;
}

.navbar-inverse {
  background-color: $navbar-color; 
  .navbar-brand, .navbar-nav > li > a {
    color: $navbar-links;
    &:hover {
      color: $navbar-links-hover;
    }
  }
}






@import "media-queries";

