@import "variables";
@import "mixins";

select{
  min-width: 350px;
}

#daySelected{
  text-align: center;
}

#places {
  float: right;
  position: absolute;
  right: 5px;
  top: 190px;
  zindex: 1;
  ul, ul > li {
    background-color: none;
  }
  .panel-heading {
    background-color:lighten( hsl(90, 50%, 50%), 20%);
    color: black;
  }
  .panel-body {
    background-color: 
  }
}

#plans {
  float: right;
  position: absolute;
  right: 5px;
  top: 600px; //use to adjust placement of 
  zindex: 1;
  .panel-heading {
    background-color:lighten( hsl(90, 50%, 50%), 20%);
    color: black;
  }
  .panel-body {
    // background-color: 
  }
}

#map-canvas {
  width: 100%;
  height: 90vh;

}

.navbar {
  margin-bottom: 0px;
}

.navbar-inverse {
  background-color: $navbar-color; 
  .navbar-brand, .navbar-nav > li > a {
    color: $navbar-links;
    &:hover {
      color: $navbar-links-hover;
    }
  }
}






@import "media-queries";

